*{
    box-sizing: border-box;
    margin: 0;
}

html{
    background-color: #FFFFF2;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.input{
    font-size: 32px;
    width: 400px;
    height: 100px;
    border: 5px solid #008000;
    border-radius: 8px;
    outline: none;
}

.operator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer
}

.operator:hover{
    color: gray;
    transition: 0.3s;
}

.action_conteiner{
    display: flex;
}

.result_container{
    display: flex;
    align-items: center;
}

.restult_text{
    font-size: 50px;
    width: 150px
}