*{
    box-sizing: border-box;
    margin: 0;
}

html{
    background-color: #FFFFF2;
}

body{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.input{
    font-size: 32px;
    width: 400px;
    height: 100px;
    border: 5px solid #008000;
    border-radius: 8px;
    outline: none;
}

